# <h1><center>1.Python Text Basics

Lets discuss some of the ways to print texts in Python.

In [1]:
# Earlier

a = "Akash"
print('My name is {}'.format(a))

My name is Akash

In [2]:
# Now

a = "Akash"
print(f'My name is {a}')

My name is Akash

In [3]:
mylist = ['a','b','c']
print(f'2nd Element in list is : {mylist[1]}')

2nd Element in list is : b

In [4]:
dictionary = {'a':10, 'b':2, 'c':12}
print(dictionary)

{'a': 10, 'b': 2, 'c': 12}

In [5]:
print(f'dictionary : {dictionary["a"]}')

dictionary : 10

In [11]:
mylist = [("akash","abhishek","akshat"),("dipanshu","ramanand",100),("sukhsagar","waahTaaj",100)]
mylist

[('akash', 'abhishek', 'akshat'),
 ('dipanshu', 'ramanand', 100),
 ('sukhsagar', 'waahTaaj', 100)]

In [12]:
for name in mylist:
  print(f"my name : {name[0]}")

my name : akash
my name : dipanshu
my name : sukhsagar

In [13]:
for name1,name2,name3 in mylist:
  print(f"{name1}  {name2}  {name3} ")

akash  abhishek  akshat
dipanshu  ramanand  100
sukhsagar  waahTaaj  100

This way of representation is not good. Lets align it

In [14]:
for name1,name2,name3 in mylist:
  print(f"{name1:{10}}  {name2:{10}}  {name3:{10}} ")   #adding 10 blank spaces

akash       abhishek    akshat
dipanshu    ramanand           100
sukhsagar   waahTaaj           100

In [20]:
for name1,name2,name3 in mylist:
  print(f"{name1:{10}}  {name2:{10}}  {name3:>{10}} ")   #adding 10 blank spaces, > is for covering up the left out space

akash       abhishek        akshat
dipanshu    ramanand           100
sukhsagar   waahTaaj           100

In [21]:
for name1,name2,name3 in mylist:
  print(f"{name1:{10}}  {name2:{10}}  {name3:.>{10}} ")   #adding 10 blank spaces, > is for covering up the left out space

akash       abhishek    ....akshat
dipanshu    ramanand    .......100
sukhsagar   waahTaaj    .......100